---
import Header from "../../components/Header.astro";
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>From Fan to Aspiring Chef: How David Chang’s Culinary Genius Inspires My Journey | A Jammin Life</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"
  />
</head>

<body>
<Header />

<main class="post">

  <h1>From Fan to Aspiring Chef: How David Chang’s Culinary Genius Inspires My Journey</h1>

  <p>I hate it when people say “I’m ___’s biggest fan”. Like Justin Bieber’s biggest fan or Dua Lipa’s biggest fan. Uhm… no you’re not. There are truly crazed fans out there and you are not the biggest of them. And if by chance you really are the biggest fan, that probably makes you a creep.</p>

  <p>I start off by saying this because I want you to know how much I mean it when I say I’m David Chang’s biggest fan 😌. Call me a hypocrite, but it’s a fact!</p>

  <p>One of the biggest reasons I want to succeed in what I do, making food and blogging, is so that I can be big enough to call up David Chang and meet him one day. And once we meet, we are going to become the bestest of friends. I’ve been trying to manifest this for over a decade. If you happen to read this and you happen to be friends with David, you know what to do 🙏</p>

  <p>Now let me tell you the story of how my love for David Chang grew and grew.</p>

  <p>It all started in the 9th grade in 2011. I already knew at this point that I wanted to be a big-time chef. But I had no idea how to become one. The only plans I knew for the future were graduate high school, go to college, and get a job. That was all I was ever taught. But that road seemed far from a career in the food industry.</p>

  <p>My history teacher was the biggest foodie I knew, and he introduced me to a video of David Chang. Chang was not famous at this point to regular people, especially in the west coast. He may have been popular in New York and the foodies, but I nor anyone around me had heard of him. This video was a clip of him in a kitchen teaching how to make donkatsu, or Korean port cutlet. And that little clip spoke volumes to me!</p>

  <p>First, he was the first and only Korean-American chef I had seen. I was so used to watching videos of Julia Child and Jacques Pepin and Gordon Ramsey. But this was someone who looked like me on screen!</p>

  <p>Second, he was making a menu I knew how to make, which never happens. When I watch videos of other famous chefs, they use ingredients and words I have never heard of. Though I grew up in America, my kitchen is very Korean. And the things I eat are very Korean. Videos of gazpacho, boeuf bourginon, and ravioli don’t mean anything to me. I enjoy eating them and watching videos of them, but they are not at all something I’m comfortable enough with to make at home, and not something my Korean family would enjoy eating. So a video of someone speaking in English to an American audience making a Korean food blew my mind away.</p>

  <p>I became an instant fan and supporter of David Chang. I started looking into his restaurants and how he got where he was. And again, as someone who didn’t even know how to get into the world of culinary arts, all I dreamed of at this point was to eat at this restaurant. Unfortunately, my family was poor and I had never traveled outside of California before.</p>

  <p>Fast forward to December 2014. My sister was in her last year of college in the east coast. We decided I should visit her before she graduated. But I wasn’t actually interested in New Jersey where she studied. I was interested in the state next to it…</p>

  <p>So once I arrived at her school, I begged her to throw away her thesis so we can go to New York! Please, for Christmas!! So we got on the train and I revealed my ulterior motive. “I don’t actually care for New York either – we are going to Momo freakin fuku.” I took the reigns and pulled her around until we got to the famous Momofuku Noodle Bar.</p>

  <p>It felt surreal. Me, from sunny California, dreaming of eating at this small restaurant. And now, waiting in line during New York winter, freezing my butt off to get inside and eat David Chang’s creation.</p>

  <p>Up to this point, I was very sheltered. Never went out, never ate something new, never did anything exciting. So basically, I never had Japanese ramen before. And I probably never even paid more than $20 for a meal. I was about to take my first bite of Japanese ramen at the expensive Momofuku.</p>

  <p>My sister, who too was very sheltered, was shocked by the price. But I told her I am not leaving until I tried everything on the menu. So we did. We ordered the ramen, the bao buns, the sides, everything. And it was fantabulously glorious!!! It remains as one of my most memorable meals ever.</p>

  <p>I finally learned how to get into the culinary world – start with culinary school! I didn’t even know schools to learn to cook existed. So at 18 years old, I enrolled and went to learn baking and pastry arts first.</p>

  <p>During class, I mentioned David Chang as my favorite chef, and only 1 other person besides the chef instructor knew who he was. And the person who had heard of David Chang was also Asian. I was disappointed to learn that non-Asians – though they were interested in the food industry – didn’t know of him.</p>

  <p>At 20 years old in 2018, I reenrolled in culinary school. This time, having finished my course in baking, I was learning culinary arts. And this time, things were different. Very different.</p>

  <p>When the entire class was asked about their favorite chef and who inspired them, nearly everyone answered David Chang. They all knew who he was and they all aspired to be like him. The school office had David Chang’s Lucky Peach magazines scattered all over the desk. And David Chang’s name was getting more and more widely known with his new Netflix series, Ugly Delicious.</p>

  <p>We don’t even know each other, but I was so proud of this man. He was finally getting the recognition he deserved.</p>

  <p>David Chang amazes me for so many reasons. Of course his food is great and his struggles to do what he loves is admirable. But my favorite thing is that in 6 years, he went from someone people barely knew to someone everyone wanted to be. That is not easy for a chef.</p>

  <p>Celebrities and billionaires can get world famous in an instant. But not chefs, usually. Only the local people within the area they cook in know them. And even if they won Michelin stars, only people who are interested in the stars know the winning chefs. I can name only few 3-star chefs, but I bet none of my friends have ever even heard of them.</p>

  <p>But to rise exponentially as David Chang did while cooking Asian food is damn impressive.</p>

  <p>My love for food started in middle school, and I have been watching David Chang grow to who he is now during my entire culinary journey. My rise is extremely slow, making my sloth mascot well-suited for my brand, but I can only work hard and hope to rise the way David Chang did.</p>

  <a class="back-link" href="/blog">← Back to Blog</a>

</main>

</body>
</html>

<style>
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  background: white;
  color: #111;
}

.post {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem;
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 390;
  line-height: 1.15;
  margin-bottom: 5rem;
}

p {
  font-size: 1.45rem;
  line-height: 1.8;
  margin-bottom: 2.5rem;
}

.back-link {
  display: inline-block;
  margin-top: 3rem;
  color: #111;
  text-decoration: none;
  border-bottom: 1px solid #111;
}

.back-link:hover {
  opacity: 0.7;
}

@media (max-width: 800px) {
  .post {
    padding: 2rem;
  }

  p {
    font-size: 1.15rem;
  }
}
</style>