---
import Header from "../../components/Header.astro";
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Those Who Are Encouraged Encourage | A Jammin Life</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"
  />
</head>

<body>
<Header />

<main class="post">

  <h1>Those Who Are Encouraged Encourage</h1>

  <p>Yesterday I hosted my first brunch party. To those who know me, it may seem like just another thing I’m doing. I’ve been known to have a different project going on every time I catch up with my friends, from leaving school to work as a tattoo artist, then quitting to work at a bakery, then taking a hiatus to start woodworking, etc. Ever since I started my own Jammin Eats project, it’s also been a constantly changing process. I started off as a home baker posting her creations on instagram. I slowly went off tangent and held online and offline events, briefly stepped into live streaming and making videos, then hosted dinner parties for strangers in my own home. This progressed into the brunch party I held yesterday.</p>

  <p>I was quite nervous for it to be honest. I never even eat breakfast, so trying to make the best and most diverse breakfast foods to impress a bunch of people was daunting to say the least. It took weeks of research and planning to come up with a menu that would seem common and approachable for people yet impossible to find anywhere else in Korea. Then I sent out invitations two weeks before the actual day to as many people as I could think of that I deemed closest to me and would be glad to join me. I took rsvps until a few days before the big day so that I could have an accurate head count and make plenty of food for everyone to feast on.</p>

  <p>I was so discouraged when one of my group chat rooms of about 12 people almost completely ignored my invitation to brunch. Another friend whom I’ve known the longest in Korea declined the invite because she was short on money – which is a situation I completely understand but was confused because I see her social media posts eating out with people and traveling all the time. Some friends responded two weeks later right before brunch to say that they have lunch plans already. A couple people cancelled a few hours before brunch with some questionable excuses which left me on the brink of tears, since I stayed up all night baking and cooking.</p>

  <p>When many of my major friend groups declined my invite, I went onto inviting people I’ve been acquainted with but wasn’t close enough to call them my close friends. And somehow, most of them gladly accepted the invitation.</p>

  <p>I’m not here to hate on anyone, but something in me was shifted in the way I approach people and their dreams. This is a story told to show what it means to encourage and be encouraged in one’s passion. To my close friends, it may be that I am just doing one thing after another, and they don’t feel the need to partake in something I wouldn’t be invested in for a long time. Something they may not understand is that I really love cooking and feeding people, and I want to make it my lifelong career, but I just haven’t figured out how to do it yet. Home baking is awesome but extremely costly, and I want to save and make money for an actual bakery. That’s why I started hosting people at home and trying to increase my online presence. It’s been a painstakingly long process for me to find my niche and my strengths, and hosting brunches is something I wanted to make happen to try out something new while doing what I love. It means a lot to me and is another big step in achieving my dreams. But my friends may not realize that. It might look like I’m just playing around and doing whatever I can, and they probably think that it wouldn’t matter whether they came or not.</p>

  <p>Trying to understand my own closest friends really brought to life the fact that my dreams are only my dreams. They are not anyone else’s nor anything that other people are concerned about. Everyone is preoccupied with their own dreams, and they don’t know the tears and effort that I put into making my dreams come true. This goes the other way around as well. I don’t know what my friends are doing to make their dreams come true. I don’t know what goes on behind closed doors. I don’t know their frustrations in detail, and I sure don’t know how much effort they put in and how close (or far) they are in their own standards to reaching their hearts’ fullest desires. I don’t know who they look up to in their own fields and how much jealously they may feel. I don’t know the hours of research and prayers that go into their work, and I don’t know who is their biggest supporter. So how can I expect them to know my struggles and hope they support me in every project I take on?</p>

  <p>But for the people who did show up, I was stunned and amazed and grateful. People who I barely expected to say yes actually came through for me. They took photos of everything, told me I was doing great, and truly made me feel like I was where I was supposed to be. Some of these people are those I know to sleep super late and wake up late. But they came on a weekend morning to show support for what I was doing.</p>

  <p>I felt something different towards these friends. For a few of them, I knew their dreams and what they were doing for them. But for most of them, I didn’t even know what they were passionate about. They were all here to support me, and yet I had no idea what they even liked. I saw myself as one my own close friends who declined my invitation. I was no different from the friends that didn’t show up.</p>

  <p>It’s a strange realization I had about myself. Because I am a huge supporter of the idea of dreams, I thought I was pretty encouraging towards people. When my friends who do music had gigs, I always showed up to the ones that I could. When my friends were getting into Youtube, I made sure to subscribe and spread their videos. When my friends were short on money, I took them out to dinner or cooked for them at home. I thought I was a a pretty good friend. But when all these people showed up, my attitude shattered. I saw how bad of a friend I was. All the times I didn’t show up, all the times I didn’t reach out, all the times I only talked about me and didn’t ask about them, all the times I cancelled plans, and all the times I didn’t even care came crashing into my head.</p>

  <p>Guilt and gratefulness palpitated all at once. Who was I to receive so much love? How can I become someone who deserves this love? I reevaluated my role in my relationships. This small crowd were the only ones who recognized how significant this brunch was for me. I was so discouraged a mere hour before the party, but they reinvigorated my passion and reminded me why I love what I do. Them showing up boosted my self esteem and energized me to be able to keep going. As someone who loves dreams, I have to be this small crowd for everyone in my life. How can I be any less and call myself a friend? If my showing up can rejuvenate someone who has been let down and empower them to keep pushing, I must!</p>

  <p>The day after, I texted everyone who came. I thanked them for cheering me on and asked them to find a day I could take them out for dinner to talk about their dreams this time. I hope to partake in their dreams as their biggest supporter for life. And if my confidence in them can energize them to go further and encourage even more people along the way, it’s a chain that never ends. Those who are encouraged encourage.</p>

  <a class="back-link" href="/blog">← Back to Blog</a>

</main>
</body>
</html>

<style>
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  background: white;
  color: #111;
}

.post {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem;
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 390;
  line-height: 1.15;
  margin-bottom: 5rem;
}

p {
  font-size: 1.45rem;
  line-height: 1.8;
  margin-bottom: 2.5rem;
}

.back-link {
  display: inline-block;
  margin-top: 3rem;
  color: #111;
  text-decoration: none;
  border-bottom: 1px solid #111;
}

.back-link:hover {
  opacity: 0.7;
}

@media (max-width: 800px) {
  .post {
    padding: 2rem;
  }

  p {
    font-size: 1.15rem;
  }
}
</style>