```astro
---
import Header from "../../components/Header.astro";
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>How Non-Planners Plan to Not Plan to Not Let Plans Go Unaccording to Plan | A Jammin Life</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"
  />
</head>

<body>
<Header />

<main class="post">

<h1>How Non-Planners Plan to Not Plan to Not Let Plans Go Unaccording to Plan</h1>

<p>I am a super non-planner. I don’t plan anything at all. Ever. I just go wherever the wind takes me and make decisions on the spot. My fiance, on the other hand, is a mega-planner. He plans his day-to-day tasks, buys plane tickets a year in advance, makes itineraries for trips, and most importantly, he sticks to them!! It is crazy nonsense to me.</p>

<p>Whenever we have disagreements, it is because of planning! For example, he would tell me to choose where we would go for summer and buy plane tickets the year before to get them before prices rise. But how can I see into the future? I might be busy with school or with family, and I might not be able to have that time to go somewhere. So I end up not looking and not getting plane tickets. By the time I’m ready to do so, prices are already too high to afford, and we end up not going anywhere.</p>

<p>We get frustrated with each other because for him, planning it out would have let us go somewhere and because it is in our schedule, we could work other things around it. For me, you never know what would come up, and not everything is something you can work out flexibly. I would rather see how things are when we are closer to the date.</p>

<p>Honestly, I think the way my fiance does things is better. His plans are good, and following those plans work. And though I want to be more like him, it just doesn’t happen for me. I won’t make the excuse that I was born this way and I can’t change. I wasn’t actually born this way, and anyone can change if they try. But my defense mechanism keeps me from planning.</p>

<p>I grew up thinking I would go to an Ivy League. I was smart, driven, and had a strict dad that would never let me waste time with friends or have hobbies – I was born to study and meant to succeed. By the time I was a senior in high school applying to colleges, I watched my own sister go to Princeton for undergrad and Yale for grad school. If she could do it, I could do it.</p>

<p>But as my friends were receiving acceptance letters left and right, the only letters I got were rejection letters. I was so confident in myself that I only applied to 6 colleges. And I ended up getting into none. I still remember crying my eyeballs out in the car with so much sorrow that my mom was at a loss at what to say or do for me to feel better. I had just got my last rejection letter. I was inconsolable.</p>

<p>It was time to make a new plan. I decided that I would go to community college for 2 years and apply to transfer in my junior year to my dream schools again. So I started going to community college admission offices just to be told that I can’t be a full time student with my visa status. Though I moved to America when I was 4 years old, I never received my green card / permanent residency. I was hopping from one visa to another to let me stay in America. And my visa didn’t allow me to enroll in college full-time.</p>

<p>Ok. Time for Plan C. Why don’t I try to focus on getting my green card or citizenship first? That’s when I heard of the MAVNI program for the US Army. MAVNI was a program in which non-citizens could serve the US military and receive their citizenship in return. And as an added bonus, being in the army would support my educational endeavors with military discounts and easier enrollment. So I signed my contract and was getting ready to go.</p>

<p>There are actually so many more stories regarding this period in my life, but I’ll cut it down. Two weeks before I was supposed to be shipped off for basic training in Fort Jackson, the military hastily shut down the program. It turned out two Chinese spies had joined the US military through the MAVNI program and gave military secrets to the Chinese government. So the US stopped the program and left us a series of background checks, interrogations, and more.</p>

<p>It took three whole years for the US to clear me of any ties to a foreign government. By the time they were allowing me to officially join the military again, my visa status was nearing its end. Which meant I was about to be an illegal immigrant. Which meant I couldn’t join the military anymore. Which meant no college nor job since the wise and kind president Trump got rid of the DACA program that protected illegal immigrants.</p>

<p>I met with multiple immigration lawyers to gain some new insight. Maybe someone had a really creative idea that would help me stay in the US legally. But none of them did. They all gave me 3 choices: stay as an illegal immigrant, go back to Korea for 10 years, or get married to a US citizen. Because I had no legal protection, I didn’t want to become an illegal immigrant. And I had never been to Korea since I came when I was 4. I knew of nothing there. I didn’t want to go to my home country, so I guess I had to get married.</p>

<p>Moving on to Plan D. Get married. For some context, I grew up in an ultra-conservative-Christian household. I was supposed to date once and that person was to be my husband. I was 20 years old and had never even kissed a guy. I don’t think I even had a meal alone with a guy. But now I was looking for a freaking husband.</p>

<p>Fortunately, or unfortunately, someone in my church wanted her son to marry me. Her son was 12 years older than me and was too busy partying. She wanted him to settle down and get married to a nice innocent girl like me. So she tried to set us up and I met their whole family. We planned on getting married on paper and submitting it to the US immigration office right away.</p>

<p>But I was terrified and horrified. I dreamed my whole life of going to a great college and meeting my prince charming and having the most romantic love story. Here I was having failed at everything and about to get married to a guy I just met who I was not attracted to at all.</p>

<p>It was getting close to my 21st birthday. Turning 21 meant that I was an adult, and my visa as a dependent of my parents would expire. My 21st birthday would be the day my presence in the states would be illegal. I would get married right before that day.</p>

<p>I approached my mom to tell her I was scared and I didn’t want to get married. I didn’t know whether staying in America was worth getting married to a stranger. She told me she didn’t want me to get married either. She wanted the best life for me and this was definitely not it. So we went on my computer and booked a flight for me to go to Korea.</p>

<p>Going to Korea meant a lot of things. Of course I would have to adjust to living in a new country, but there was more than that. My parents were not illegal in the states, but if they were to leave the states at any time, they wouldn’t be allowed back in. They moved to America with a one-time entry visa. I, on the other hand, was now allowed to go anywhere except for the states. I wouldn’t be allowed in the US until all of my previous visa records were buried. That would take approximately 10 years. My parents and I wouldn’t be able to see each other for 10 years.</p>

<p>Still, this was better than getting married. So I booked my ticket and left everyone and everything behind. Thankfully, my immigration lawyer was working with a company that would help me get back to the states earlier than 10 years. But we all know how the COVID pandemic ruined too many things for too many people. My papers were delayed and I didn’t have any clue as to when I would be allowed to go to the states again. I was in a limbo in Korea.</p>

<p>My life in Korea was fine, but I didn’t know whether to plan my life around staying in Korea long term, or plan my life for the states. Spending my adulthood in Korea and spending my adulthood in America were two completely different pictures, and I didn’t know which life to focus on. I was stuck not being able to make any solid plans and not being able to see a future a year or 2 years or 5 years from now. Everything was a blur.</p>

<p>Every plan I had was scrapped because of unforeseeable and uncontrollable things. So much so that making plans became useless. My life was so tumultuous that it didn’t follow a path that I drew up. It was like riding a bike down a rocky mountain. Bouncing left, bouncing right, and breaking all my bones.</p>

<p>I don’t like plans. Plans only create hope for a future that you never know would come. Hope is dangerous when it makes you look forward to things that will end up letting you down. Big plans, small plans – I don’t want any of them. When the moment comes for something to happen, it’ll happen! If it wasn’t meant to happen, nothing you do will make it happen anyway.</p>

<p>So maybe my fiance, who is great at planning, can plan things for me. Maybe his plans will follow through. Maybe his plans can make my bike ride of a life a little more stable. I hope the day comes when planning the future is like riding a tricycle down a paved bike road.</p>

<a class="back-link" href="/blog">← Back to Blog</a>

</main>
</body>
</html>

<style>
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  background: white;
  color: #111;
}

.post {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem;
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 390;
  line-height: 1.15;
  margin-bottom: 5rem;
}

p {
  font-size: 1.45rem;
  line-height: 1.8;
  margin-bottom: 2.5rem;
}

.back-link {
  display: inline-block;
  margin-top: 3rem;
  color: #111;
  text-decoration: none;
  border-bottom: 1px solid #111;
}

.back-link:hover {
  opacity: 0.7;
}

@media (max-width: 800px) {
  .post {
    padding: 2rem;
  }

  p {
    font-size: 1.15rem;
  }
}
</style>
```
