
---
import Header from "../../components/Header.astro";
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>A Train of Thought: The Potter and His Clay | A Jammin Life</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"
  />
</head>

<body>
  <Header />

  <main class="post">

    <h1>A Train of Thought: The Potter and His Clay</h1>

    <p>All too often I question whether I’ve fucked up.</p>

    <p>There are two facts I know: One, I’ve tried to make the best decision at every fork. I wouldn’t knowingly and masochistically choose all the wrong options to bring doom upon myself. Every big choice was made calculating what would be the most beneficial for my future. Two, I am exhausted. I’ve tried to do my best at what was expected of me, I’ve hustled, and I’ve done more than what I thought I could accomplish at times.</p>

    <p>But why do I feel so far behind? My reality is worlds apart from my dreams. I’m in debt, I’ve had no milestones in a while, and it’s as though I’ve been taking 2 steps back, 1 step forward.</p>

    <p>Yet, I am a true believer of everything happening for a reason – that there is greater meaning and significance in all the things I do. I know that what is blinding me now will sooner or later zoom out to become a small part of one grandiose picture.</p>

    <p>Thus comes speeding in this train of thought. I am clay in the middle of being molded by the potter. I do not know yet what I am being formed into and what my purpose will be. But I’ve been pressed, built upon, shaped, etc and I am no longer the block of clay that I started from. Every wagon on this train will deal with the factors that the potter has used to shape me directly into what I am today. Maybe then I can appreciate how far I’ve come and look forward to what is to come.</p>

    <h2>Wagon 1: Mother Mother Where Art Thou Fodder</h2>

    <p>My mom is a great cook. It’s such a shame that she never cooks. My family was barely surviving when we lost the two houses we bought during the 2008 financial crisis. The relatives who offered my dad a job and convinced him to immigrate to America ended up leaving him jobless (our families are sworn enemies now). My family had no income, was in enormous debt, and my mom tells me to this day that it was a miracle we even had a roof over our heads. My mom had no degree and no English skills, so the only thing she could think of was to sell food. She decided to sell 3 of the most labor-intensive Korean foods to Korean households since she knew they would be too lazy to make it at home. They were mung bean pancakes, gimbap, and dumplings.</p>

    <p>She would stay up all night making a tub full of filling and wrapping hundreds of dumplings. She would roll up a hundred rolls of gimbap to cater churches, and fry another tub full of pancakes to sell them in packs of 10. This was one of the hardest times in my mom’s life, but for me, being a clueless unhelpful child, this was one my happiest times. I loved eating my mom’s cooking and stealing bites as she worked. She made the best pancakes, gimbap, and dumplings I – and every Korean household she sold them to – had ever tasted.</p>

    <p>Now I know how much we must have struggled for my mom to cook like that. Because after that time passed, she pretty much never cooked. As I got older, I realized more and more how much my mom hated being in the kitchen. I never had school lunch packed for me – not once. When my mom picked me up after school, we drove directly to Pizza Hut, In-N-Out, or Chipotle for my dinner. Sometimes I would beg my mom to cook Korean food, and she would reluctantly make it a week later. But she would forget that she washed rice and put it in the rice cooker without starting it, so we would discover it days later with mold.</p>

    <h2>Wagon 2: Father’s Folly</h2>

    <p>I think it was about 8th grade (13 years old) that I started to cook occasionally for me and my dad. It was pretty much the only way we could eat a home-cooked meal. I looked up Korean recipes online and would copy them to the T. My dad was always a scary, angry man who was hard to please, but he was always happy to come home to my Korean food. It was the only time I felt truly appreciated and like I had a role that I was happy to fill. I wanted to pursue it as a career and began to dream of becoming a chef.</p>

    <p>When I told my dad I wanted to be a chef, he flipped. To him, it was a worthless and dumb path that people with no future chose. (He can be <em>ahem</em> a little prejudiced.) Since then, he was no longer happy to see that I cooked our meal. He fought with my mom more often, demanding that she cook so that I wouldn’t. He banned me from the kitchen and had me stay in my room to study. I kept my dream repressed deep inside, and refocused in school trying to find a new subject to take interest in.</p>

    <h2>Wagon 3: The Great Depression</h2>

    <p>I’m a pretty smart person if you get to know me. Just putting that out there because I’m embarrassed to say that I did have questionable grades and a mediocre resume that got me into no colleges. Zero. Nada. I chose the new career path that I wanted to take – an army officer in radiology. I won’t get into it, but obviously, that did not pan out either.</p>

    <p>Life chucked some more lemons at me, and I entered an era of great depression. I’ve been depressed since I was 14/15, but this was like no other time. I was in bed for three months. I cried myself to sleep and woke up crying. I had no energy to get up, and I did absolutely nothing for those months. My pillow was perpetually wet from my tears. And after that, I couldn’t cry anymore. It was physically impossible – I think my tear ducts dried up or was too swollen or something.</p>

    <p>My dad was angry at first at my depression. He didn’t have an understanding of this very common mental sickness. He yelled at me to stop crying and thought I needed spiritual help. But when nothing worked and he realized the gravity of my sadness and lack of motivation, he suggested that I try to feel better by going to culinary school. He knew how much I had enjoyed it in the past, and he hoped that maybe it would do its thing again and put some sense of purpose in my life.</p>

    <p>He was still theoretically against this as a career path, so he couldn’t get himself to pay for it. And because culinary school was so expensive, he wanted me to learn something I had no experience or knowledge in – which was baking. So this was what finally got me out of bed – I needed to enroll in baking school and find a job to pay for it.</p>


<h2>Wagon 4: The Calling</h2>

<p>
Eventually, I ended up taking both baking and cooking classes in school. I started off wanting to cook and becoming a chef, but I finished school wanting to open a bakery. So why the change of heart? There are 3 major things I can pinpoint:
</p>

<p>
The first thing takes me back to high school again. I had a crush on a boy named Charles (fake name). Charles was one of the most popular guys in school, and it took so long for me to gather up the courage to even say a few words to him. I was still working my way up to become one of his friends. But one of my friends who knew I liked him betrayed me and told him I liked him! And his response was that I was too ugly for him to ever date and I would probably never find a guy to like me. (Fuck you Charles I found a boy who loves me *cries*) Anyways, this is not about him.
</p>

<p>
Charles started dating a girl named Sara (fake name). Sara was ranked number 1 in our school, and she was loved by everyone. To make matters worse, Sara, who has the best grades and the most popular guy, was also known for making the best brownies from scratch! My high school jealousy was on steroids. So I tried to bake once for a school potluck, and it turned out so bad that no one ate it.
</p>

<p>
Becoming a professional baker was a way to redeem myself and beat Sara at just one thing. But I promise now I actually love baking – it has nothing to do with Sara!
</p>

<p>
The second thing that made me fall in love with baking was at one of my jobs. I was an assistant baker for the school-owned cafe. I came into work at 2 am and baked all the pastries for opening time at 8 am.
</p>

<p>
At first, I was horrified by having to work the graveyard shift. But that shift was the first time in 4 years I didn’t feel the constant weight of depression. Outside the floor-to-ceiling windows was complete darkness and the whole world was asleep. I was the only person awake in the only source of light within miles.
</p>

<p>
I got to feel and shape pillowy dough all night while listening to music. Once the pastries were baked and placed for display, the sun would creep up and the horizon would turn bright orange. And as people started coming in sight one by one, it was my time to disappear.
</p>

<p>
The level of peace during those hours made me realize that this was what I was meant to do for the rest of my life. I was meant to stay behind the scenes, make things that bring joy upon others, and finally feel “not sad”.
</p>

<p>
The third thing was the first time I made my own croissants. It was croissant day in baking school, and the chef told us it was a three day process.
</p>

<p>
I was flabbergasted. The only croissants I ever had were Costco croissants sold by the dozen, and they were not worth 3 days of pure labor. I reluctantly came to school for the 3 days, confused as to why I was constantly chilling and rolling out dough.
</p>

<p>
Then the d-day arrived, and I baked them off and took a bite with freshly made blackberry jam.
</p>

<p>
And holy cannoli italy eatin ravioli I was taken to heaven and dropped back down to this shittin earth.
</p>

<p>
I ate 8 croissants and finished an entire jar of jam. Since that first bite, I knew I was called to make croissants and give a glimpse of heaven to everyone.
</p>

<h2>Wagon 5: New Age</h2>

<p>
Long story short, visa stuff didn’t work out and I had to relocate to my motherland after I finished culinary school. I moved to Korea and ended up going to college.
</p>

<p>
Although I wanted to start working right away, I didn’t know anything about Korea and my parents begged for me to get a college degree. So I adjusted to a new life – I enjoyed school and started getting a better sense of the Korean food scene.
</p>

<p>
But I really missed baking, so I took a year off to work at one of the most famous bakery cafes in Seoul.
</p>

<p>
I enjoyed the baking part, but the hierarchy, work culture, and lack of room for creativity – not so much. That’s when I chose to be on my own and release my full potential for creativity.
</p>

<p>
I started school again, but have been slowly building Jammin Eats.
</p>

<p>
Sometimes I feel lost because I’m not employed, I’m still finishing up college, and I don’t know if my journey with Jammin Eats will prove to be fruitful.
</p>

<p>
But looking back at all the major moments, each and every one of them led me to doing my own thing now. Working in solitude, finding my groove, and feeding others is my source of joy.
</p>

<p>
Although this train of thought keeps going and takes me up and down the hills and the valleys, I’m going to press the brakes.
</p>

<p>
I hope in the future, the train’s destination is a place of peace and happiness, not the chaotic warzone currently in my mind.
</p>



  <a class="back-link" href="/blog">← Back to Blog</a>

  </main>
</body>
</html>

<style>

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  background: white;
  color: #111;
}

.post {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem;
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 390;
  line-height: 1.15;
  margin-bottom: 5rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 500;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.45rem;
  line-height: 1.8;
  margin-bottom: 2.5rem;
}

.back-link {
  display: inline-block;
  margin-top: 3rem;
  color: #111;
  text-decoration: none;
  border-bottom: 1px solid #111;
}

.back-link:hover {
  opacity: 0.7;
}

@media (max-width: 800px) {
  .post {
    padding: 2rem;
  }

  p {
    font-size: 1.15rem;
  }

  h2 {
    font-size: 1.7rem;
  }
}

</style>