```astro
---
import Header from "../../components/Header.astro";
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>What it is to Feel Under and like a Dog Instead of an Underdog | A Jammin Life</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"
  />
</head>

<body>
<Header />

<main class="post">

  <h1>What it is to Feel Under and like a Dog Instead of an Underdog</h1>

  <p>My boyfriend Cam (fake name) loves stories about underdogs – the little guy that everyone looks down on, but who ends up blowing all expectations out of the water and changes the status quo. I never consciously perceived that I like underdog stories too until I met him. My all time favorite movie is <em>Wreck-It Ralph</em>, so... makes sense! 🤷‍♀️</p>

  <p>But it’s definitely not just the two of us. Classic hits like <em>The Shawshank Redemption</em>, <em>Slumdog Millionaire</em>, and the chick flick <em>Legally Blonde</em> all revolve around the underdogs. It’s always nice to think that no matter what value society puts on us, our more-weighty intrinsic value will shine through.</p>

  <p>Cam recommended one of his favorite fantasy books for me to read, called <em>The Name of the Wind</em>. The main character, Kvothe, is an orphan born of the lowest class. He struggles simply to survive, but with his extraordinary wits, talent, and drive, he becomes a living legend. He learns from the best and trains from the best, evolving into quite the master of all things. Kvothe remains proud of his low birth throughout the book, and as he leaves us in awe through all his adventures, we grow fond of his ancestry too.</p>

  <p>But there was one moment in the book that I read today that got me so angry I started to cry.</p>

  <p>All the characters in the book question Kvothe when he reveals what background he is born of, but their judgements about him fade when they see how smart and talented he is. However, one of the highest nobles in the book who initially thought well of Kvothe became disgusted when she found out about his class and kicked him out. She went from treating him with respect to treating him as less than human.</p>

  <p>Reading this scene broke open my deep insecurities.</p>

  <p>My family never had money, and I lived in America on a visa for twenty years. That meant I was never allowed to leave the country while my friends went on trips abroad every break. That meant I got into no colleges while my friends went to top colleges with scholarships, even though I had higher grades, scores, and more extracurriculars.</p>

  <p>That also meant that everything I wanted to learn and every class I wanted to take was ten times harder for me because I had to work under the table and earn enough to pay for everything on my own. Because of my visa that didn’t allow me to work, my bosses who were “gracious” enough to give me jobs always took my tips and sometimes even refused to pay me since I wasn’t legally on the payroll.</p>

  <p>I really truly deep down believe I did my best. If I were given the chance to go back in time, I wouldn’t take it because I don’t think I could work that hard again. I am not a living legend like Kvothe, and I’m still struggling, but I had to earn everything from scratch to be standing where I am.</p>

  <p>Last Christmas, Cam’s parents and my parents met for the first time. It was such a precious time that I had been looking forward to for months. I love Cam and his family, and I couldn’t wait to introduce my parents to them. Both our parents were sharing good things about us to draw a picture of who we are as individuals and how great we are as a couple.</p>

  <p>But then, Cam’s mom accidentally slipped the fact that her friends were against Cam dating me, and that there was a whole drama surrounding it.</p>

  <p>I broke in that moment. I tried to keep it together the best that I could. But it broke me.</p>

  <p>Cam’s parents are so loving towards me. They never showed an ounce of judgement, and they are truly amazing people. But to know that I am automatically someone unworthy because of my background to the people around them is so heartbreaking. I know in my head that what they say doesn’t matter, and in the grand scheme of things, they are such minor characters in my storybook. But the fact that my parents and I had to hear and acknowledge that was painful.</p>

  <p>The fact that my parents had to feel like their daughter was less than Cam was painful. My parents raised me as best as they could just as Cam’s parents did him. My parents loved on me just as much as Cam’s parents loved him. I am their precious daughter just as much as Cam is a precious son.</p>

  <p>What is money that makes my parents less worthy than Cam’s? What is money that while Cam’s family friends are against me, my family friends are for him?</p>

  <p>I fell in love with Cam for his grand dreams, his enthusiasm for life, his crazy humor, his adventurousness, his loving attitude, his positivity, and much much more. I also have some awesome qualities that make Cam love me.</p>

  <p>But when people hear about us, they are going to think me lucky for meeting someone with a great background like Cam, and him unlucky and unwise to meet someone of a bad background like me. No matter how much we say we won’t care about the world and what they have to say about us, it is a fact that these things will cross the minds of those who know him and those who know me.</p>

  <p>But I want to change the narrative.</p>

  <p>This is the classic story of the poor girl meeting Prince Charming. But what if she isn’t just a poor little girl? She is the strongest of knights that just fought and won a hard long battle. She is tattered and frayed, so people misunderstood who she was. But when she is revealed, no one questions her worth. She is honorable and respected. She is not a weak and helpless girl in search of a prince to save her – she is a defender of the prince if anything. She is stronger and more abled than any civilian could imagine. She is valuable, and just as she could not do without the Prince, the Prince could not do without her in their empire.</p>

  <p>Maybe I was low born like Kvothe. We are both fighters. We are persistent. We grit our teeth and work our way up. So much so that who we were born as doesn’t matter anymore. I will continue to push on like a knight and stand dignified and confident in who I am and who I will be.</p>

  <a class="back-link" href="/blog">← Back to Blog</a>

</main>

</body>
</html>

<style>
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  background: white;
  color: #111;
}

.post {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem;
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 390;
  line-height: 1.15;
  margin-bottom: 5rem;
}

p {
  font-size: 1.45rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.back-link {
  display: inline-block;
  margin-top: 3rem;
  color: #111;
  text-decoration: none;
  border-bottom: 1px solid #111;
}

.back-link:hover {
  opacity: 0.7;
}

@media (max-width: 800px) {
  .post {
    padding: 2rem;
  }

  p {
    font-size: 1.15rem;
  }
}
</style>
```
